body {
    font-family: Roboto;
    background-color: #EDBA61;
    color:#3267A1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Grenze Gotisch";
    text-align: center;
}
h1 {
    font-size: 50pt;
}

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    border: 2px solid #61A5ED;
    background-color: #A3721C;
    padding: 10px;
    color: #82BEFF;
}
/* Hero Section */
#hero img{
    width:300px;
}
/* Bio Section */
#bio{
    text-align: center;
}
/* Hobbies Section */
#hobbies ul li:nth-child(odd) {
color: red;
font-size: 15pt;
}

/* Gallery Section */
#gallery {
    border: 5px solid red;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center ;
}
#gallery figcaption {
    color: black;
}