body {
    font-family: Roboto;
    background-color: #EDBA61;
    color:#3267A1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Grenze Gotisch";
    text-align: center;
}
h1 {
    font-size: 50pt;
}

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    border: 2px solid #61A5ED;
    background-color: #A3721C;
    padding: 10px;
    color: #82BEFF;
}
/* Hero Section */
#hero img{
    width:300px;
}
/* Bio Section */
#bio{
    text-align: center;
}
/* Hobbies Section */
#hobbies ul li:nth-child(odd) {
color: red;
font-size: 15pt;
}

/* Gallery Section */
#gallery {
    border: 5px solid #82BEFF;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center ;
}
#gallery figcaption {
    color: black;
}
/* Literature Section */
#lit {
    border: 5px solid #82BEFF;
    margin-bottom: 2rem;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p{
    padding: 0.3rem 0;
    clear: both;
}
/*Dropcaps Section */
#lit div p::first-letter {
    color:#3267A1;
    float: left;
    font-size: 3em;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
    padding:.15em;
    line-height: .65;
    border: 1px solid black;
    border-top-left-radius: .3em;
    margin-right:.25em;
}